<img [src]="imgUrl | defaultImage : 'http://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png':'true'">

<h2>Employee Table</h2>
  
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Name</th>
            <th>Annual Salary</th>
            <th>Date of Birth</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees;trackBy:trackByEmpId">
            <td>{{ employee.id }}</td>
            <td>{{ employee.gender | genderToTitle }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.annualSalary }}</td>
            <td>{{ employee.dateOfBirth }}</td>
        </tr>
    </tbody>
</table>